<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lfc.yundocker.mapper.YunPortMapper">

    <resultMap id="BaseResultMap" type="com.lfc.yundocker.common.model.entity.YunPort">
            <id property="id" column="id" />
            <result property="port" column="port" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,port,create_time,update_time
    </sql>
</mapper>
