# 公共配置文件

dubbo:
  application:
    name: yun-docker-master
  protocol:
    name: dubbo
    port: -1

spring:
  application:
    name: yun-docker-master
  # 默认 dev 环境
  profiles:
    active: dev
  # 支持 swagger3
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  # session 配置
  session:
    # todo 取消注释开启分布式 session（须先配置 Redis）
    # store-type: redis
    # 30 天过期
    timeout: 2592000
  servlet:
    multipart:
      # 大小限制
      max-file-size: 10MB
server:
  address: 0.0.0.0
  port: 8088
  servlet:
    context-path: /api  # 应用名 + 路径
    # cookie 30 天过期
    session:
      cookie:
        max-age: 2592000
mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true # 驼峰下划线转换
  global-config:
    db-config:
      logic-delete-field: isDelete # 全局逻辑删除的实体字段名
      logic-delete-value: 1 # 逻辑已删除值（默认为 1）
      logic-not-delete-value: 0 # 逻辑未删除值（默认为 0）

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus  # 暴露监控端点
  endpoint:
    health:
      show-details: always  # 显示详细信息

