# Prometheus 配置文件

global:
  scrape_interval: 15s  # 全局抓取间隔
  evaluation_interval: 15s  # 规则评估间隔
  # 外部标签（可选）
  external_labels:
    monitor: 'yun-docker-backend'
    environment: 'production'

# 告警管理器配置（可选）
alerting:
  alertmanagers:
    - static_configs:
      #- targets: ['localhost:9093']  # Alertmanager地址

# 规则文件配置
rule_files:
  #- "alert_rules.yml"  # 可添加告警规则

# 抓取配置
scrape_configs:
  # 监控Prometheus自身
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  # 监控Spring Boot应用
  - job_name: 'yun-docker-app'
    metrics_path: 'api/actuator/prometheus'
    static_configs:
      - targets: ['localhost:8088']  # 应用服务器地址
        labels:
          application: 'yun-docker-backend'
          instance: 'main-instance'
    scrape_interval: 10s #每隔10s抓取一次
    scrape_timeout: 10s # 抓取超时时间
