# 公共环境配置文件

dubbo:
  application:
    name: yun-docker-worker
  protocol:
    name: dubbo
    port: -1

spring:
  application:
    name: yun-docker-worker
  # 默认 dev 环境
  profiles:
    active: dev
  # 支持 swagger3
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  # session 配置
  session:
    # todo 取消注释开启分布式 session（须先配置 Redis）
    # store-type: redis
    # 30 天过期
    timeout: 2592000
  servlet:
    multipart:
      # 大小限制
      max-file-size: 10MB

server:
  address: 0.0.0.0
  port: 8089
  servlet:
    context-path: /api  # 应用名 + 路径
    # cookie 30 天过期
    session:
      cookie:
        max-age: 2592000

# Actuator 监控端点
management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus  # 暴露监控端点
  endpoint:
    health:
      show-details: always  # 显示详细信息

