# 公共配置文件
# @author <a href="https://github.com/liyupi">程序员鱼皮</a>
# @from <a href="https://yupi.icu">编程导航知识星球</a>1

docker:
  client:
    url: tcp://114.215.191.146:2375

spring:
  application:
    name: cloud-docker
  # 默认 dev 环境
  profiles:
    active: dev
  # 支持 swagger3
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  # session 配置
  session:
    # todo 取消注释开启分布式 session（须先配置 Redis）
    # store-type: redis
    # 30 天过期
    timeout: 2592000
  # 数据库配置
  # todo 需替换配置
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://114.215.191.146:3306/yun_docker?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
    username: yun_docker
    password: 123456
  # Redis 配置
  # todo 需替换配置，然后取消注释
  #  redis:
  #    database: 1
  #    host: localhost
  #    port: 6379
  #    timeout: 5000
  #    password: 123456
  # Elasticsearch 配置
  # todo 需替换配置，然后取消注释
  #  elasticsearch:
  #    uris: http://localhost:9200
  #    username: root
  #    password: 123456
  # 文件上传
  servlet:
    multipart:
      # 大小限制
      max-file-size: 10MB
server:
  address: 0.0.0.0
  port: 8088
  servlet:
    context-path: /api  # 应用名 + 路径
    # cookie 30 天过期
    session:
      cookie:
        max-age: 2592000
mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true # 驼峰下划线转换
    #log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    # 生产环境关闭日志
    log-impl: org.apache.ibatis.logging.nologging.NoLoggingImpl
  global-config:
    db-config:
      logic-delete-field: isDelete # 全局逻辑删除的实体字段名
      logic-delete-value: 1 # 逻辑已删除值（默认为 1）
      logic-not-delete-value: 0 # 逻辑未删除值（默认为 0）
# 微信相关
wx:
  # 微信公众平台
  # todo 需替换配置
  mp:
    token: xxx
    aesKey: xxx
    appId: xxx
    secret: xxx
    config-storage:
      http-client-type: HttpClient
      key-prefix: wx
      redis:
        host: 127.0.0.1
        port: 6379
      type: Memory
  # 微信开放平台
  # todo 需替换配置
  open:
    appId: xxx
    appSecret: xxx
# 对象存储
# todo 需替换配置
cos:
  client:
    accessKey: xxx
    secretKey: xxx
    region: xxx
    bucket: xxx

alipay:
  appId: 2021000148645743
  merchantPrivateKey: MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCci29t7ohVyWY4DIacmXlfUt1uN+c7NXNgxCPOY1WieqOcDBwAeDDK7sl7bmAtQvT7xqZ7NWzG+HDAg2xa3fKjuPxfvfqiAKoo6kTkf/NMvwsFnia+gR5pJc0b4ISGYLZG54LptbCoVXnwFsBpdqlZPoG0dBo8/jAxgqDEgkf0S0BvZ11+IxwEMnugKGqf6W1JOZ3b/ldGwK9ZTVcpAubJOqYt6PFTwWbx7zDctPIMye24n2WlFHZE5dBVwHUCkoCa8o6NtRJQdLPo0HHSr6RR3oO7OIZvv5Raa4MABVNZZupsVyycAVeXeuhpYuIvIvogM0JZu6V5oqucLdN8t74vAgMBAAECggEAF0DjGXpQSCX1iCfcKxDlJZLCj6fAMlxbOimIhBTfWJZNDVYDJtKztMFJrosTwEVs7KVyf2TNNrUa0o3zH4BOlaFZ48LtovjkTdWWzDZxZpoOQhRe/vdhFA9oa1areOaOzPOAz8SMbETeKxrGFCRrPXV6gNqqNxsu/3u+89HCbHgwZAAIn9qBCfuahJ2lTvjidBX8JJ44lDMIq+6rlOWBbkyGLPhAQkHgJjkj8MCFOjw7feFqTHR0Fbtec0Fa2T/gjtTM2fjlioSF0WE2Z3T0qXcrgbCVZSHJmkwEczBV54nuqQK46SLgoTNTcwX7LJnpGUdqPyEo3fhwkb1u9b3CAQKBgQD2a4pSmaGcDTRdMbBcKd74x9ImTGIULV7GAG798fpicAIziXYbbN8szeGv5Io5Lpg4YfSc2LItQwXT9o66YStzC8qQaJ+u/kzI8HEgr2zF70e45g7yRSNVfXAkZmT0tZ8Brx8To3ktFh8lZ4fLmsWdr+LqcpykjdBfmULSo3TPLwKBgQCioWxRWEmfMVQYsWqe63pCGFzqfR03fb3SjHQ6JLp1kydXphgUPQdY/AVz4FspWJgQHMONIlra8zc1LtblnCZ/zOsLgnhokcQw+ZuEItS7+kzR6QOhUoYwgL4UBErMFzO/UrTuS3OU7Tq3Pk0Nun4v/fYoWAC8ahdJI+ukb9hBAQKBgQDB52mXCdFDrJhR5TGztDcCaKqS/HQJEJKNF/Y+2dR+9UimKTrI5ejPpso60Il76ZBafaowacv7FcxWOKOjQachBlxFOi69Uto1HA7I+4GKV3mGo3GLbqAZO3WtDu3OKcSPXLAFkhNeSRQFKOyQaJ+sL6VNexaL3hPjxgPxIDJgfQKBgAGnuO1/A4jOPLffnmEtrlnb2547Vb/J1NO+wDQTSZ6Gt+DJfPc/w8JhFkEeqG7cSvfnAwp9rgUKcqZk6qT9mNq2IDJGyqjtytxgvfdzT0z2eC+uum265Ei8FrMndAdtuQYadmLye6OpYm6ZALnCCyS75fR1KNTCE6iX5/8NcFsBAoGANU564p/uqUouj1wyLRstRFCQO2stSHj/PgTNPlkqcpc2dv9s019CisG0ggPM5PdHtFiNmwJeOPe8Qv44SeXziYDdlb5vRBH5YONDnQLTMeKWYxNnHyjEf6ODzX6GLmHeODEEwyhiB2NOSa8oIgV8UahPKvsFMOJZLKFkmbZuj0A=
  alipayPublicKey: MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAk5eVeGyyuiaD87yY6tAiI8eiHWVKxIE55gfjZv9sFZ1Ku3/BZwt1Jg/C4W3CVLrpwS90G/tHnpZyc/QpQ0GXkzbBqB1aWLYXJ73+WnHqQRk1hHVkphkd3LIwsIDAU0A2NGdE0OQ/d+qXpVWrqqk8N9A1p4SHIVwc9UXwEWrpRLek5zk+xg2xKUQkAFtyhmduc4AE7OlSV7hP48wbg+8MdwfqHAiHmlQn/Q4KwqUwwdr67awN6zoJ6VvxLh71tAeR8yt1+qY0M8X+i26nsqOcJM9GnXd3Bql7GkADId6AlAzaZB9ZoKfIDBjD6G2fffudoleqDzZJ4c7NfD0BQV/IkwIDAQAB
  notifyUrl: http://h3a96945.natappfree.cc/api/alipay/notify
  returnUrl: http://localhost:3000/myOrder/
  signType: RSA2
  charset: utf-8
  # 我的支付宝网关地址
  gatewayUrl: https://openapi-sandbox.dl.alipaydev.com/gateway.do

